# Clase 04 | Python

### Comentarios

In [10]:
#HOLA ESTO ES UN COMENTARIO

### Variables

In [12]:
nombre = "Andrea"
edad = 22
altura = 1.65 
activo  = True

### Lista

In [16]:
lista = [1, 2, 3]
lista.append(4)
lista[0] = 10
print(lista)

[10, 2, 3, 4]

### Tupla

In [18]:
tupla = (1, 2 , 3)
# tupla.append(4)
tupla[0] = 10

TypeError: 'tuple' object does not support item assignment

In [20]:
x = 10
print(type(x))

y = "Hol"
print(type(y))

<class 'int'>
<class 'str'>

In [21]:
# Declarar variables
nombre = "Erick"
edad = 23
altura = 1.77
estudiante = True 

# Mostramos valores
print("Nombre:", nombre)
print("Edad:", edad)
print("Altura:", altura)
print("Es estudiante?:", estudiante)


print(type(nombre))

print(type(edad))

print(type(altura))

print(type(estudiante))

Nombre: Erick
Edad: 23
Altura: 1.77
Es estudiante?: True
<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

## Input / Output
### Salida de datos

In [22]:
print("Hola a todos")
print(3 + 5)
print("Resultado:", 3*4)

Hola a todos
8
Resultado: 12

### Separador personalizado

In [23]:
print("A", "B", "C", sep="-")

A-B-C

In [27]:
print("Primera línea", end=" ")
print("Segunda línea")

Primera línea Segunda línea

### Entrada de datos

In [29]:
nombre = input("Cómo te llamas?")
print("Hola,", nombre)

Hola, Andrea

In [30]:
edad = int(input("Cuántos años tienes?"))
print("Tendrás", edad + 1, "el próximo año.")

Tendrás 23 el próximo año.

In [31]:
altura = float(input("Cuál es tu altura en metros?"))
print("Altura:", altura)

Altura: 1.65

In [32]:
nombre = input("Nombre:")
edad = int(input("Edad:"))
altura = float(input("Altura:"))

print("Resumen:")
print("Nombre:", nombre)
print("Edad:", edad)
print("Estatura:", altura, "metros")

Resumen:
Nombre: Andrea
Edad: 22
Estatura: 1.65 metros

## Estructuras condicionales

if - si se cumple la condición
elif - si no se cumple la anterior, pero sí otra
else - si no se cumple ninguna condición anterior

In [ ]:
if condicion:
    # Bloque si se cumple

elif otra_condicion:
    # Cloque si se cumple esta otra
    
else: 
    # bloque si no se cumple ninguna

In [34]:
edad = int(input("Cuántos años tienes?"))

if edad >= 18: 
    print("Eres mayor de edad")
else:
    print("Eres menor de edad")

Eres menor de edad

In [37]:
nota = float(input("Introduce tu calificación"))

if nota >= 90:
    print("Excelente")
elif nota >= 80:
    print("Notable")
elif nota >= 70:
    print("Aprobado")
else:
    print("Reprobado")

Reprobado

### Operadores lógicos

In [39]:
usuario = input("Usuario: ")
clave = input("Contraseña: ")

if usuario == "admin" and clave == "123":
    print("Acceso permitido")
else:
    print("Acceso denegado")

Acceso denegado

### Condicionales anidados

In [43]:
edad = int(input("Edad: "))

if edad >= 18:
    if edad >=65:
        print("Eres adulto mayor")
    else:
        print("Eres adulto")
else: 
    print("Eres menor de edad")

Eres menor de edad

### Expresiones condicionales

In [44]:
edad = 17
mensaje = "Mayor de edad" if edad >= 18 else "Menor de edad"
print(mensaje)

Menor de edad

## Estructuras de datos

In [55]:
frutas = ["manzana", "fresa", "mango", "kiwi", "pera", "lichi", "piña"]
print(frutas[0])
print(frutas[-1])

frutas.append("naranja")
frutas.insert(1, "plátano")
frutas.remove("plátano")
frutas.pop()

print(frutas)
print(len(frutas))

for fruta in frutas:
    print(frutas)

manzana
piña
['manzana', 'fresa', 'mango', 'kiwi', 'pera', 'lichi', 'piña']
7
['manzana', 'fresa', 'mango', 'kiwi', 'pera', 'lichi', 'piña']
['manzana', 'fresa', 'mango', 'kiwi', 'pera', 'lichi', 'piña']
['manzana', 'fresa', 'mango', 'kiwi', 'pera', 'lichi', 'piña']
['manzana', 'fresa', 'mango', 'kiwi', 'pera', 'lichi', 'piña']
['manzana', 'fresa', 'mango', 'kiwi', 'pera', 'lichi', 'piña']
['manzana', 'fresa', 'mango', 'kiwi', 'pera', 'lichi', 'piña']
['manzana', 'fresa', 'mango', 'kiwi', 'pera', 'lichi', 'piña']

### Tuplas

In [56]:
punto = (3, 5)

print(punto[0])

3

### Conjunto

In [59]:
colores = {"azul", "morado", "verde", "negro", "naranja", "rosa"}
print(colores)

colores.add("rojo")
colores.remove("rosa")

print(colores)

{'negro', 'verde', 'rosa', 'azul', 'morado', 'naranja'}
{'negro', 'verde', 'rojo', 'azul', 'morado', 'naranja'}

In [61]:
a = {1, 2, 3}
b = {3, 4, 5}

print(a & b)
print(a | b)
print(a - b)

{3}
{1, 2, 3, 4, 5}
{1, 2}

### Diccionarios
clave: valor

In [66]:
persona = {
    "nombre": "Ulises",
    "edad": 22,
    "profesion": "Intern de ciberseguridad"
    
}

print(persona["nombre"])

persona["edad"] = 20
persona["ciudad"] = "CDMX"
# print(persona)

for clave, valor in persona.items():
    print(clave, "->", valor)

Ulises
nombre -> Ulises
edad -> 20
profesion -> Intern de ciberseguridad
ciudad -> CDMX

# POO

In [ ]:
# Sintáxis

class NombreDeLaClase:
    def __init__(self, parámetros):
        self.atributo = valor

In [71]:
class Mascota:
    def __init__(self, nombre, edad):
        self.nombre = nombre
        self.edad = edad
    def hablar(self):
        print(f"{self.nombre} dice guau")
    def desribir(self):
        print(f"{self.nombre} tiene {self.edad} años")  
luna = Mascota("Luna", 2)

luna.hablar()
luna.desribir()

Luna dice guau
Luna tiene 2 años

# Herencia

In [72]:
class Perro(Mascota):
    def hablar(self):
        print(f"{self.nombre} dice guau guau!!!")
        
nala = Perro("Nala", 7)
nala.hablar()

Nala dice guau guau!!!

<!-- Sintá -->